/* Padrão CSS Next */

html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;

    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  }

  body * {
    font-family: "Inter", sans-serif;
    line-height: 160%;
    color: #ffffff;
  }
}

/* Imports */

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@200;300;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("http://fonts.cdnfonts.com/css/nimbus-sans-l");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* Cards*/

.card {
  transition: 0.2s;
}

.max-card {
  max-width: 150px;
}

.card div {
  transform: translateY(100%);
  transition: 0.2s;
}

.card:hover div {
  transform: translateY(0%);
}

.card:hover {
  opacity: 1;
}

/* Backgrounds */

.wppHome {
  background-color: #0b0b0c;
  background-image: url("/assets/Wpp.png");
  background-position: top center;
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.wppCharacters {
  background-color: #0b0b0c;
  background-image: url("/assets/WppP.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wppHqs {
  background-color: #0b0b0c;
  background-image: url("/assets/WppH.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wppSer {
  background-color: #0b0b0c;
  background-image: url("/assets/WppS.png");
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.WppModal {
  background-image: url("../public/assets/WppModal.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* Others */

.pagination li + li {
  margin-left: 1rem;
}

.navbar.active {
  background-color: #0b0b0c;
}

input::placeholder {
  color: #767676;
}