.modal {
    background-color: #171717;
    height: 600px;
    border-radius: 15px;
    padding: 20px;
    z-index: 100;

    height: 500px;

    margin:auto
    
}

.header {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    color: white;
}